{% extends 'core/base.html' %}

{% block content %}

<div class="py-6 px-8">

    <div class="max-w-xl mx-auto py-8 bg-slate-800 text-center">
        <h1 class="text-3xl text-white font-semibold">Sign up</h1>

        <form class="mt-6 px-8 space-y-4" method="post" action=".">
            {% csrf_token %}
            <div>
                <label class="text-white">Name</label><br>
                <input type="text" class="w-full py-4 px-6 bg-slate-500 text-white rounded" name="name">
            </div>
            <div>
                <label class="text-white">E-mail</label><br>
                <input type="email" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="email">
            </div>
            <!-- <div>
                <label class="text-white">Pin Number</label><br>
                <input type="number" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="pin">
            </div>
            <div>
                <label class="text-white">Team</label><br>
                <input type="text" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="team">
            </div>
            <div>
                <label class="text-white">Manager?</label><br>
                <input type="text" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="is_manager">
            </div>
            <div>
                <label class="text-white">Department</label><br>
                <input type="text" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="department">
            </div> -->

            <div>
                <label class="text-white">Password</label><br>
                <input type="password" class="w-full py-4 px-6 text-white bg-slate-500 rounded" name="password1">
            </div>

            <div>
                <label class="text-white">Repeat password</label><br>
                <input type="password" class="w-full py-4 px-6 bg-slate-500 text-white rounded" name="password2">
            </div>

            <div>
                <button class="py-4 px-8 bg-sky-600 hover:bg-sky-700 text-white rounded">Sign up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}