{% extends 'core/base.html' %}

{% block content %}

    <div class="py-6 px-8">

        <a href="{% url 'project:add' %}" class="py-3 px-6 bg-sky-600 text-white inline-block rounded">Add project</a>

        <h1 class="my-6 text-3xl font-semibold">Projects</h1>

        <div class="mt-6 grid grid-cols-4 gap-4 ">
            {% for project in projects %}
                <div class="py-6 px-6 bg-slate-200 rounded space">
                    <a href="{% url 'project:project' project.id %}">
                        <h2 class="mb-4 text-xl font-semibold">{{project.name}}</h2>

                        <p class="text-sm text-slate-600 mb-4">{{project.description}}</p>
                        <!-- <p class="text-sm text-slate-600"><strong>Assigned Team: </strong>{{project.assigned_team}}</p> -->
                    </a>
                </div>
            {% endfor %}
    </div>

{% endblock %}