{% extends 'core/base.html' %}

{% block content %}
<div class="py-7 px-8">
    <h1 class="text-3xl font-semibold">About</h1>

    <div class="my-6 space-y-6">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores molestiae commodi laborum totam similique! Quo.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores molestiae commodi laborum totam similique! Quo.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores molestiae commodi laborum totam similique! Quo. elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores 
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores molestiae commodi laborum totam similique! Quo. elit. Officiis natus tempore, non in ex beatae eligendi numquam quod alias error nemo optio quidem asperiores molestiae commodi laborum totam similique! Quo.
        </p>
    </div>
</div>
{% endblock %}