{% extends 'core/base.html' %}

{% block content %}

    <div class="py-6 px-8">
        <h1 class="my-6 text-3xl font-semibold">
            {{task.name}}
        </h1>

        <p class="mb-6"><strong class="font-semibold ">Status: </strong>{% if task.is_done %}Done{% else %}Todo {% endif %}</p>
    {% if task.description %}
        <p class="mb-6 truncate">{{task.description}}</p>
    {% endif %}

    {% if not task.is_done %}
        <a href="?is_done=yes" class="py-4 px-6 bg-emerald-600 hover:bg-emerald-700 text-white inline-block rounded me-2">Mark as done</a>
    {% endif %}
        <a href="{% url 'task:edit' task.project_id task.todolist_id task.id %}" class="py-4 px-8 bg-amber-600 hover:bg-amber-700 text-white inline-block rounded me-2">Edit</a>
        <a href="{% url 'task:delete' task.project_id task.todolist_id task.id %}" class="py-4 px-8 bg-red-600 hover:bg-red-700 text-white inline-block rounded">Delete</a>

        <div class="mt-6 grid grid-cols-4 gap-4 ">
            {% for task in todolist.tasks.all %}
                <div class="py-6 px-6 bg-slate-200 rounded ">
                    <a href="{% url 'task:detail' todolist.project.id todolist.id task.id %}">
                        <h2 class="mb-4 text-xl">{{task.name}}</h2>
                        <p class="text-sm text-slate-600">{{task.description}}
                    </a>
                </div>
            {% endfor %}
    </div>

{% endblock %}